<div class="container text-center mt-5">
  <%= link_to "Browse Teachers", teachers_path, class: "btn btn-dark mb-5" %>

  <div class="counter-holder" data-controller="counter">
    <div class="counter">
      <span class="badge badge-dark p-4 mb-3" data-target="counter.count"><%= @teacher_count %></span>
    </div>
  </div>
</div>
