<div class="container mt-5">
  <h1>Teachers</h1>

  <ul>
    <% @teachers.each do |teacher| %>
      <li>
        <%= link_to teacher.name, teacher_path(teacher) %>
        <%= link_to "<i class='fas fa-dumpster-fire'></i>".html_safe,
          teacher_path(teacher),
          method: :delete,
          remote: true,
          class: "text-danger" %>
      </li>
    <% end %>
  </ul>
</div>
